@media (max-width: 1224px) {
  .header_logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section {
    font-size: 28px;
    line-height: 18px;
  }
  .features {
    padding-top: 15%;
  }
  .duis {
    font-size: 12px;
    line-height: 20px;
    padding: 3% 0 1.5% 0;
  }
  .menu__link.features__text:hover {
    border-radius: 18px;
    padding: 12px 20px;
  }
  .easy {
    font-size: 22px;
    font-weight: 200;
    padding-top: 6%;
  }
  .du2 {
    font-size: 26px;
  }
  .point {
    color: blue;
    font-size: 10px;
    padding-top: 36%;
  }
  .process {
    height: 660px;
    background-color: #f3f2f2;
  }
  .process-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 860px;
  }
  .process-list__item {
    width: 280px;
    height: 345px;
  }
  .process-list__text {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 22px;
  }
  .service {
    height: 560px;
  }
  .service__text-h1 {
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 80px;
    text-align: center;
  }
  .service__text-p {
    color: #333333;
    font-size: 24px;
    padding-bottom: 70px;
    text-align: center;
  }
  .text {
    margin-left: 6%;
  }
  .carousel {
    width: 920px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel-items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 860px;
        flex-basis: 860px;
  }
  .image_2 {
    width: 202px;
    height: 262px;
  }
  .gallery__text {
    font-size: 16px;
    line-height: 42px;
    padding-top: 212px;
  }
  .quantity {
    height: 412px;
    background: url("../image/1024/quantity__plan.png") no-repeat center;
  }
  .quantity-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .people {
    background: url("../image/people.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .hearth {
    background: url("../image/hearth.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .bascet {
    background: url("../image/bascet.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .rocket {
    background: url("../image/rocket.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .quantity-list h2 {
    font-size: 18px;
  }
  .quantity-list h2 span {
    font-size: 38px;
  }
  .touch {
    height: 426px;
  }
  .touch_h1 {
    padding-top: 6%;
    text-align: center;
    color: #333333;
    font-family: "Poppins - Semi Bold";
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 40px;
    margin-left: -38px;
  }
  .touch-message {
    width: 840px;
    height: 210px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .email__class {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block {
    width: 400px;
    height: 50px;
    padding-left: 19px;
  }
  .email__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .placeholder {
    width: 400px;
    height: 130px;
    padding: 20px 0  0 20px;
  }
  .send {
    width: 400px;
    height: 50px;
  }
}
/*# sourceMappingURL=digital1024.css.map */