@media (max-width: 500px) {
  .wrapper {
    max-width: 500px;
    padding: 0 1%;
  }
  /* header */
  .header {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    margin: 0 auto;
    text-align: left;
  }
  .header-wrap-content {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrap-content__icon {
    background: url("../image/home.png") no-repeat;
    width: 60px;
    height: 60px;
  }
  .header-wrap-content__text {
    margin: 0 auto;
    text-align: center;
  }
  .header_text__digital {
    text-shadow: 0 3px 3px rgba(30, 28, 28, 0.75);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    width: 180px;
  }
  .header_text__be {
    font-size: 11px;
    line-height: 16px;
    width: 180px;
  }
  .menu {
    display: none;
  }
  .navigation:active .menu {
    display: block;
  }
  .menu:hover {
    display: block;
  }
  .navigation {
    position: relative;
  }
  .menu {
    position: absolute;
    margin: -106px 124px -250px -106px;
    width: 160px;
    text-align: center;
    background: #008500;
  }
  .menu li {
    height: 35px;
  }
  .button {
    visibility: visible;
    background: url("../image/menu.png") no-repeat 100%;
    width: 50px;
    height: 50px;
    margin-left: -56%;
  }
  .banner {
    background-size: 100% 340px;
  }
  .features {
    padding-top: 110px;
  }
  .features .section {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    color: #fff;
  }
  .features .point {
    color: blue;
    font-size: 1px;
    padding-top: 18%;
  }
  .duis {
    position: relative;
    z-index: -1;
  }
  .menu__link.features__text {
    position: relative;
    z-index: -1;
  }
  /* process */
  .process {
    height: 1000px;
    background-color: #f3f2f2;
    text-align: center;
  }
  .easy {
    font-size: 14px;
    padding-top: 60px;
  }
  .du2 {
    font-size: 17px;
    line-height: 42px;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  .point {
    color: blue;
    font-size: 1px;
    padding-top: 00%;
  }
  .process-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    height: 820px;
  }
  .process-list__item {
    border: 1px solid rgba(4, 4, 4, 0.1);
    background-color: #ffffff;
    width: 260px;
    height: 320px;
  }
  .process-list__item:hover {
    background: white;
    -webkit-box-shadow: 0 0 #0b4bec, 0 0 #0b4bec;
            box-shadow: 0 0 #0b4bec, 0 0 #0b4bec;
  }
  .process-list__item:hover h6 {
    color: black;
  }
  .process-list__item:hover p {
    color: black;
  }
  .process-list__img {
    height: 100px;
  }
  .process-list__text {
    color: #000000;
    font-family: Poppins;
    font-size: 17px;
    text-transform: uppercase;
  }
  .process-list__text_p {
    color: #808080;
    font-family: Raleway;
    font-size: 11spx;
    line-height: 18px;
    padding: 8px 20px 0 19px;
    width: 240px;
    margin: 0 auto;
  }
  /* service */
  .service {
    height: 780px;
  }
  .service__text-h1 {
    color: #808080;
    font-family: Poppins;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 60px;
  }
  .service__text-p {
    color: #333333;
    font-family: Poppins;
    font-size: 14px;
    padding-bottom: 50px;
  }
  .text {
    width: 90%;
    text-align: center;
  }
  .carousel {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 660px;
    margin: 0 auto;
  }
  .carousel-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .image_2:hover {
    -webkit-box-shadow: 0 0 #0b4bec, 0 0 #0b4bec;
            box-shadow: 0 0 #0b4bec, 0 0 #0b4bec;
  }
  .image_2 {
    width: 120px;
    height: 160px;
    border: 1px solid rgba(4, 4, 4, 0.3);
    background-color: #ffffff;
  }
  .carousel-button-left a, .carousel-button-right a {
    width: 0px;
    height: 0px;
  }
  .gallery__text {
    color: #333333;
    font-family: Poppins;
    font-size: 12px;
    padding-top: 120px;
  }
  /* quantity */
  .quantity {
    height: 140px;
    margin-top: 80px;
    background: url("../image/375/quantity__tel.png") no-repeat center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quantity-list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .quantity-list__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8px;
  }
  .quantity-list h2 {
    font-size: 14px;
    line-height: 20px;
  }
  .quantity-list h2 span {
    font-size: 17px;
  }
  /* touch */
  .touch {
    height: 460px;
  }
  .touch_h1 {
    padding-top: 50px;
    font-size: 26px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
  .touch-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    height: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email__class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .block {
    width: 260px;
    height: 50px;
    border: 1px solid #cccccc;
    padding-left: 19px;
  }
  .email__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200px;
  }
  .placeholder {
    width: 260px;
    height: 130px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 20px 0  0 20px;
    margin-top: 20px;
  }
  .send {
    width: 160px;
    height: 60px;
    background-color: #0b4bec;
    color: #fff;
    margin: 20px 0 0 20%;
    margin-bottom: 40px;
  }
  /* footer */
  .copy {
    height: 90px;
    background: url("../image/footer.png") no-repeat center;
  }
  .copy_p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding-top: 41px;
  }
}
/*# sourceMappingURL=digital500.css.map */